<%= render "menu" %>

</br>

<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h6><%= t('hello') %><%= current_user.name %></h6>

    <div class="row">
      <div class="info-box">
        <span class="info-box-icon bg-crimson"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
        <span class="info-box-text"><%= t('imc') %></span>
        <span class="info-box-content"><%= @imc %></span>
      </div>

      <div class="info-box">
        <%= link_to diets_path do %>
          <span class="info-box-icon bg-aqua"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
          <span class="info-box-text"></span>
          <span class="info-box-content"><%= t('diet.title') %></span>
        <% end %>
      </div>

      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-star" aria-hidden="true"></i></span>
        <span class="info-box-text"><%= t('goal') %></span>
        <span class="info-box-content">
          <% if @goal %>
            <i class="fa fa-trophy" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          <% end %>
        </span>
      </div>
    </div>

    <h4><%= t('progress') %><i class="fa fa-line-chart" aria-hidden="true"></i></h4>
    <h6><%= t('weight.title') %></h6>
    <%= area_chart(@weights) %>

    <h6><%= t('running.title') %></h6>
    <%= area_chart(@runnings) %>
  </body>
</html>
