<%= form_with(model: weight, local: true) do |form| %>
  <% if weight.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(weight.errors.count, "error") %> prohibited this weight from being saved:</h2>

      <ul>
        <% weight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="div-form">
    <div class="alert alert-danger">
      Alert: update your weight just once a day.
    </div>

    <div class="field">
      <%= form.label :kg %>
      <%= form.number_field :kg %>
    </div>

    <div class="field">
      <%= form.label :weight_date %>
      <%= form.date_field :weight_date %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
