<div class="message-bubble chat-bubble-wrapper <%= message[:role] %> animate-fade-in-up" chat-message-id="<%= message[:id] %>">
  <span class="chat-bubble-label">
    <%= message[:label] %> <% if message[:date].present? %>(<%= message[:date] %>)<% end %>
  </span>

  <div class="chat-bubble <%= message[:role] %>">
    <pre class="chat-pre"><%= message[:content] %></pre>
  </div>
</div>