<%= render "dashboard/menu" %>

</br>

<div class="chat-container" data-controller="chat">
  <h1><%= t('diet.suggestions') %></h1>
  <section class="chat-conversation" data-chat-target="conversation"></section>
  <%= form_with data: { action: "chat#generateResponse" } do |form| %>
    <div class="chat-input">
      <%= form.text_area :message, id: "prompt", data: { chat_target: "prompt" } %>
      <%= form.submit t('send') %>
    </div>
  <% end %>
</div>