<%= form_with(model: diet, local: true) do |form| %>
  <% if diet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(diet.errors.count, "error") %>
        prohibited this diet from being saved:
      </h2>

      <ul>
        <% diet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Diet</h3>
  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :initial_weight %>
    <%= form.text_field :initial_weight %>
  </div>

  <div class="field">
    <%= form.label :target_weight %>
    <%= form.text_field :target_weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <h3>Meals</h3>
  <%= form.fields_for :meal do |ff| %>
    <div class="field">
      <%= ff.label :schedule %>
      <%= ff.time_field :schedule %>
    </div>

    <div class="field">
      <%= ff.label :description %>
      <%= ff.text_field :description %>
    </div>

    <div class="field">
      <%= ff.label :meal_type %>
      <%= ff.select :meal_type, Meal.meal_type.options %>
    </div>

    <div class="actions">
      <%= ff.submit %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
