<li class="control-group nested-fields">
  <div class="controls">
    <div class="field">
      <%= f.label :schedule %>
      <%= f.time_field :schedule %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :meal_type %>
      <%= f.select :meal_type, Meal.meal_type.options %>
    </div>

    <button class="btn btn-danger">
      <%= link_to_remove_association "remove", f %>
    </button>
  </div>
</li>

