<%= render "dashboard/menu" %>

<br/>

<p id="notice"><%= notice %></p>

<hr/>
<h1><%= t('diet.title') %></h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th><%= t('diet.start_date') %></th>
      <th><%= t('diet.end_date') %></th>
      <th><%= t('diet.initial_weight') %></th>
      <th><%= t('diet.target_weight') %></th>
      <th><%= t('diet.height') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @diets.each do |diet| %>
      <tr>
        <td><%= diet.start_date.strftime("%m/%d/%Y") %></td>
        <td><%= diet.end_date.strftime("%m/%d/%Y") %></td>
        <td><%= diet.initial_weight %></td>
        <td><%= diet.target_weight %></td>
        <td><%= diet.height %></td>
        <td><%= link_to t('show'), diet %>
        <td><%= link_to edit_diet_path(diet) do %>
          <i class="fa fa-pencil-square-o"></i>
        <% end %></td>
        <td><%= link_to diet, method: :delete, data: { confirm: t('sure') } do %>
          <i class="fa fa-trash"></i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="btn btn-primary">
  <%= link_to t('diet.new'), new_diet_path %>
</button>

