<%= render "dashboard/menu" %>

</br>

<p id="notice"><%= notice %></p>

<div class="div-form">
  <p>
    <strong><%= t('diet.start_date') %></strong>
    <%= @diet.start_date %>
  </p>

  <p>
    <strong><%= t('diet.end_date') %></strong>
    <%= @diet.end_date %>
  </p>

  <p>
    <strong><%= t('diet.initial_weight') %></strong>
    <%= @diet.initial_weight %>
  </p>

  <p>
    <strong><%= t('diet.target_weight') %></strong>
    <%= @diet.target_weight %>
  </p>

  <p>
    <strong><%= t('diet.height') %></strong>
    <%= @diet.height %>
  </p>

  <p>
    <strong><%= t('meal.title') %></strong>
    <% @diet.meals.each do |meal| %>
      <%= meal.meal_type + "," %>
      <%= meal.description + "," %>
      <%= meal.schedule.strftime("%H:%M") %> |
    <% end %>
  </p>

  <button class="btn btn-primary">
    <%= link_to t('edit'), edit_diet_path(@diet) %>
  </button>
</div>

